<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>

<!-- <a href='https://www.facebook.com/profile.php?id=100003595780888' target='_blank'>
  <img src='/images/footer/facebook.png' align=right style="display:inline;margin:2px 2px 2px 5px;">
</a>

<a href='https://plus.google.com/106773524461336322194/about' target='_blank'>
  <img src='/images/footer/googleplus.png' align=right style="display:inline;margin:2px 2px 2px 5px;">
</a> -->

</p>
